.contact td {
  width: 480px;
  padding-left: 1rem;
}
.contact th {
  text-align: right;
  width: 150px;
}
.contact tr {
  height: 7rem;
}
.text {
  width: 480px;
}
.btn {
  margin-bottom: 50px;
  margin-left: 130px;
  text-align: center;
  margin-top: 50px;
}
.bouton {
  background-color: #008B8B;
  font-size: 3rem;
  padding: 10px;
  color: white;

}
.bouton:hover {
  opacity: 0.6;
}
textarea {
  width: 480px;
}
